{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/screen.css')}}">
{% block title %} {# Homepage #}{% endblock %}
{% endblock %}
{% block main %}
    <img src="{{ url_for('static',filename='/images/placeholder.gif' )}}" class="placeholder">
    <h1>Terrarium Regelaar</h1>
    <h2> Wat is het?</h2>

    <p> De terrarium regelaar is een microprocessor waaraan enkele elementen zijn aangesloten. De belangrijkste is de sensor die aangesloten is,
        deze sensor meet zowel de temperatuur als de luchtvochtigheid.
        Er zijn twee verschillende lampen geconnecteerd, een lamp voor in de dag en een lamp voor in de nacht.
        Deze lampen worden aangestuurd via de processor en zullen automatisch wisselen tussen dag en nacht.
        Verder zijn er twee ventilatoren aangesloten die de luchtvochtigheid kunnen beinvloeden. </p>


    <h2>Features</h2>
    <ul>
        <li>feature one</li>
        <li>feature two</li>
        <li> feature three</li>
        <li>feature four</li>
        <li> feature five</li>
    </ul>
    <img src="../static/images/image_preview.jpg">

    <h2>You can make one yourself!</h2>
    <p></p>
{% endblock %}